@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: rgb(22, 20, 20);
}

@media screen and (max-width: 900px) {
    body {
        background: url("https://i.pinimg.com/564x/0c/84/3f/0c843f96a6e997fff64e65057100b4af.jpg");
    }
}